<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Deep-learning-for-Terrain_Recognization-backend/templates/static/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
            .fullscreen-bg {
            background-image: url(/Deep-learning-for-Terrain_Recognization-backend/templates/images/bg.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100vh;
        }
    </style>
</head>

<body style="background-image: url(/Deep-learning-for-Terrain_Recognization-backend/templates/images/bg.jpg);">
    <!-- header section starts  -->

    <header class="header">
        <a href="#" class="logo">
            <h1 style="color: red;">Slayers</h1>
        </a>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#menu">menu</a>
            <a href="login.html" id="loginLink">login</a>
            <a class="waves-effect waves-light btn" id="logoutButton" style="display: none;">LogOut</a>
        </nav>
    </header>
    <div class="fullscreen-bg"></div>

    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">
        <div class="content" id="transbox">
            <h1>Terrain Recognition</h1>
        </div>
    </section>

    <!-- home section ends -->

    <!-- about section starts  -->

    <section class="about" id="about">

        <div class="row">

            <div class="content">
                <h3>
                    <center>About Terrain Recognition</center>
                </h3>
                <p style="text-align: justify;">Terrain recognition involves identifying and categorizing different
                    types of terrain or land surfaces based on
                    their visual characteristics. This field intersects with remote sensing, computer vision, and
                    geospatial
                    analysis to analyze and understand the Earth's surface.

                    Terrain types can vary widely, including forests, grasslands, water bodies, urban areas, mountains,
                    deserts, and
                    agricultural land. Data sources for terrain recognition include satellite imagery, aerial
                    photography,
                    LiDAR,
                    drones, and ground-based sensors.

                    Techniques such as remote sensing, computer vision, and machine learning are used for terrain
                    recognition.
                    Machine learning models, such as deep learning neural networks, can be trained on labeled terrain
                    data
                    to
                    automatically recognize and classify different types of terrain.

                    Applications of terrain recognition include environmental monitoring, natural resource management,
                    disaster
                    management, and navigation/planning. Challenges include data quality, data volume, and the
                    complexity of
                    terrain
                    features, requiring advanced algorithms for differentiation.</p>
                <a href="#" class="btn">learn more</a>
            </div>
        </div>
    </section>

    <!-- about section ends -->

    <!-- menu section starts  -->
    <br>
    <br>

    <section class="menu" id="menu">
        <h1 class="heading">
            <center>
                <h1 style="color: white;"><b>Our Menu</b></h1>
            </center>
        </h1>
        <br>
        <br>
        <div class="box-container">
            <div class="box">
                <img src="/Deep-learning-for-Terrain_Recognization-backend/templates/images/marshy.jpeg" alt="">
                <h3>Marshy</h3>

            </div>
            <div class="box">
                <img src="/Deep-learning-for-Terrain_Recognization-backend/templates/images/mountain.jpeg" alt="">
                <h3>Mountain</h3>

            </div>
            <div class="box">
                <img src="/Deep-learning-for-Terrain_Recognization-backend/templates/images/sand.jpeg" alt="">
                <h3>Sandy</h3>

            </div>
            <div class="box">
                <img src="/Deep-learning-for-Terrain_Recognization-backend/templates/images/snow.jpeg" alt="">
                <h3>snowy</h3>
            </div>
        </div>
    </section>
    <br>
    <br>
    <div class="container my-4">
        <div class="row mb-2">
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0" style="color: white;">Marshy</h3>
                        <p class="card-text mb-auto" style="color: white;">Definitions of marshy. adjective. (of soil)
                            soft and watery. “a
                            marshy coastline” synonyms: boggy, miry, mucky, muddy, quaggy, sloppy, sloughy, soggy,
                            squashy, swampy, waterlogged wet.</p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="250" src="/Deep-learning-for-Terrain_Recognization-backend/templates/images/marshy.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0" style="color: white;">Sandy</h3>
                        <p class="mb-auto" style="color: white;">Sand or sandy soil is formed by the smallest or fine
                            particles of weathering
                            rocks. soil use in agriculture and for tree planation which contains the nutrients which
                            help to grow plant.</p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="250" src="/Deep-learning-for-Terrain_Recognization-backend/templates/images/sand.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row mb-2">
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0" style="color: white;">Rocky</h3>
                        <p class="card-text mb-auto" style="color: white;"> A rocky place is covered with rocks or consists of large areas of rock and has nothing growing on it.</p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="250" src="/Deep-learning-for-Terrain_Recognization-backend/templates/images/Rocky.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0" style="color: white;">Grassy</h3>
                        <p class="mb-auto" style="color: white;">Grassy Terrain creates terrain that envelops the field and replaces the background environment and any other terrain that is already in effect. The terrain fades after five turns. </p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" width="200" height="250" src="/Deep-learning-for-Terrain_Recognization-backend/templates/images/Grassy.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- menu section ends -->

    <!-- footer section starts  -->

    <section class="footer">
        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
        </div>
        <div class="links">
            <a href="#">home</a>
            <a href="#">about</a>
            <a href="#">menu</a>
        </div>
        <center>
            <footer class="container">
                <p class="float-end"><a href="#">Back to top</a></p>
                <p><h4 style="color: white;">© 2023–2024  Slayers <a href="#">Privacy</a> · <a href="#">Terms</a></h4></p>
            </footer>
        </center>
    </section>
    <h2 id="msg"></h2>
    <h2 id="greet"></h2>
    <!-- footer section ends -->
    <!-- custom js file link  -->
    <!-- Compiled and minified CSS -->
</body>
<script type="module">
    //firebase
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.10.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.10.0/firebase-analytics.js";
    import { getAuth, onAuthStateChanged, signOut } from "https://www.gstatic.com/firebasejs/10.10.0/firebase-auth.js";

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyD8tj73FC_SwhRyZRZrlBmIDQs-KcHh5qQ",
        authDomain: "final-30bd6.firebaseapp.com",
        databaseURL: "https://final-30bd6-default-rtdb.firebaseio.com",
        projectId: "final-30bd6",
        storageBucket: "final-30bd6.appspot.com",
        messagingSenderId: "247966844070",
        appId: "1:247966844070:web:9f9874b324da01106b6067",
        measurementId: "G-LS0SKMSNZ7"
    };
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
    const auth = getAuth();

    // Check if the user is logged in or not
    onAuthStateChanged(auth, (user) => {
        if (user) {
            // User is signed in
            document.getElementById("loginLink").style.display = "none";
            document.getElementById("logoutButton").style.display = "block";
        } else {
            // No user is signed in
            document.getElementById("loginLink").style.display = "block";
            document.getElementById("logoutButton").style.display = "none";
        }
    });

    // Logout functionality
    document.getElementById("logoutButton").addEventListener("click", function (event) {
        event.preventDefault(); // Prevent default behavior of anchor tag
        signOut(auth)
            .then(() => {
                // Sign-out successful.
                console.log('Sign-out successful.');
                alert('Sign-out successful.');
            })
            .catch((error) => {
                // An error happened.
                console.log('An error happened.');
            });
    });
</script>

</html>